html
  head
    title= title
  body
    h1= message
    img(src="https://n1s1.hsmedia.ru/94/71/68/947168a6debcf7ab3499d0bd54257d87/665x495_1_9c0ce9878726ec606044057674bbf870@665x495_0xac120003_4522973461562655669.jpg", alt="Текст если нет картинки")
    h2= 'И тут текст'
    a(href="./page2") Ссылка на 2 страницу
